<div class="customers view indent">
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon glyphicon-user"></span>
                {{ title }}
            </h3>
        </header>
        <br />
        <div class="row">
            <div class="col-md-10">
                <div class="navbar">
                    <ul class="nav navbar-nav">
                        <li class="toolbar-item">
                            <a (click)="changeDisplayMode('Card')" [class.active]="!gridDisplayModeEnabled">
                                <span class="glyphicon glyphicon-th-large"></span> Card View
                            </a>
                        </li>
                        <li class="toolbar-item">
                            <a (click)="changeDisplayMode('Grid')" [class.active]="gridDisplayModeEnabled">
                                <span class="glyphicon glyphicon-align-justify"></span> Grid View
                            </a>
                        </li>
                    </ul>
                    <filter-textbox class="navbar-right"
                     (changed)="filterChanged($event)"></filter-textbox>
                </div>
                
                <customers-card 
                  [customers]="filteredCustomers" 
                  [hidden]="gridDisplayModeEnabled"></customers-card>
            
                <customers-grid 
                  [customers]="filteredCustomers" 
                  [hidden]="!gridDisplayModeEnabled"></customers-grid>
                  
                <pagination [totalItems]="totalRecords" [pageSize]="pageSize" (pageChanged)="pageChanged($event)"></pagination>
   
            </div>         
        </div>
    </div>
</div>