<div class="container">
    <div class="row card-container">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="#customer of customers">
            <div class="card">
                <div class="card-header">
                    {{customer.firstName | capitalize }} {{ customer.lastName | capitalize }} 
                    <i *ngIf="user.isAuthenticated" title="Edit" [routerLink]="['CustomerEdit',{id:customer.id}]" 
                       class="pull-right glyphicon glyphicon-edit edit-icon"></i>
                 </div>
                <div class="card-body">
                    <div class="clearfix">
                        <div class="pull-left card-body-left">
                            <a href="#" class="white">
                                <img src="images/{{customer.gender | lowercase}}.png" class="card-image" />
                            </a>
                        </div>
                        <div class="pull-left card-body-right">
                            <div class="card-body-content">{{customer.city | trim }}, {{customer.state.name}}</div>
                            <a [routerLink]="['Customer',{id:customer.id}]" class="card-body-content" title="View Orders">
                              {{ customer.orderCount }} 
                              <span [ngPlural]="customer.orderCount">
                                <template ngPluralCase="=0">Orders</template>
                                <template ngPluralCase="=1">Order</template>
                                <template ngPluralCase="many">Orders</template>
                              </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!customers.length">
            No Records Found
        </div>
    </div>