<div class="orders view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Orders</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <filter-textbox
                    label="Filter by Product Name:"
                    (changed)="filterChanged($event)"></filter-textbox>
                    <br />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 repeat-animation" *ngFor="#customer of filteredCustomers">
                    <div>
                        <h4>{{ customer.firstName + ' ' + customer.lastName }}</h4>
                    </div>
                    
                    <orders-table *ngIf="customer.orders" [customer]="customer"></orders-table>
                    
                </div>
            </div>
            <div class="row show-hide-animation" *ngIf="filteredCustomers.length === 0">
                <div class="col-md-12">
                    <h4>No customers found</h4>
                </div>
            </div>
            <div class="row show-hide-animation" *ngIf="filteredCustomers.length !== 0" style="margin-left:0px;">
                <div class="col-md-12">
                    <pagination [totalItems]="totalRecords" [pageSize]="pageSize" (pageChanged)="pageChanged($event)"></pagination>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br />
</div>

