<div class="row">
    <div class="col-md-12" *ngIf="customer">
        <div>
            <h4>
                {{ customer.firstName }} {{ customer.lastName }} &nbsp;
                <a *ngIf="user?.isAuthenticated" [routerLink]="['edit']">
                    <i  class="glyphicon glyphicon-edit edit-icon edit-icon-large white" 
                        title="Edit Customer"></i>
                </a>
            </h4>
            {{customer.address}}
            <br />
            {{customer.city}}, <span *ngIf="customer.state">{{customer.state.name}}</span>
            <br /><br />
        </div>
        
        <orders-table *ngIf="customer.orders" [customer]="customer"></orders-table>
    </div>      
    <div *ngIf="!customer">
        No customer found
    </div>            
</div>
