<div class="view">
    <div class="container">
        <form *ngIf="customer" #editForm="ngForm" class="validateForm">
            <div class="customerEdit">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{ customer.firstName}} {{ customer.lastName }} 
                          <span [hidden]="customer.id === 0">
                            (<a style="font-size:12pt" [routerLink]="['CustomerOrders']">View Orders</a>)
                          </span>
                        </h4>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        First Name:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" 
                               [(ngModel)]="customer.firstName" 
                               ngControl="firstName" 
                               #firstName="ngForm"
                               required />
                        <span class="errorMessage" [hidden]="firstName.untouched || firstName.valid">
                            First name is required
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Last Name:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" 
                               [(ngModel)]="customer.lastName" 
                               ngControl="lastName"
                               #lastName="ngForm"
                               required />
                        <span class="errorMessage" [hidden]="lastName.untouched || lastName.valid">
                            Last name is required
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Gender:
                    </div>
                    <div class="col-md-10">
                        <div class="radio">
                            <label class="radio">
                                <input type="radio" 
                                       value="Male"
                                       name="gender"
                                       (click)="customer.gender = male.value"
                                       [checked]="customer.gender === male.value"
                                       #male />
                                {{ male.value }}                    
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio">
                                <input type="radio" 
                                       value="Female"
                                       name="gender"
                                       (click)="customer.gender = female.value"
                                       [checked]="customer.gender === female.value"
                                       #female />
                                {{ female.value }}
                                <br />
                            </label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Email:
                    </div>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control"
                               [(ngModel)]="customer.email"
                               ngControl="email" 
                               #email="ngForm"
                               required />
                        <!-- Show error if touched and unique is in error -->
                        <span class="errorMessage" [hidden]="email.untouched || email.valid">
                            Email is required
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Address:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" 
                               [(ngModel)]="customer.address" 
                               ngControl="address" 
                               #address="ngForm"
                               required />
                        <span class="errorMessage" [hidden]="address.untouched || address.valid">
                            Address is required
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        City:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" 
                               [(ngModel)]="customer.city" 
                               ngControl="city" 
                               #city="ngForm"
                               required />
                        <span class="errorMessage" [hidden]="city.untouched || city.valid">
                            City is required
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        State:
                    </div>
                    <div class="col-md-10">
                        <select class="form-control" 
                                [(ngModel)]="customer.stateId"
                                ngControl="state" 
                                #state="ngForm"
                                required>
                          <option [value]="state.id" [selected]="customer.id === 0">Select One:</option>
                          <option *ngFor="let state of states" [ngValue]="state.id">{{state.name}}</option>
                        </select>
                        <span class="errorMessage" [hidden]="state.untouched || state.valid">
                            State is required
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Zip:
                    </div>
                    <div class="col-md-10">
                        <input type="number" 
                               class="form-control" 
                               [(ngModel)]="customer.zip" 
                               ngControl="zip" 
                               #zip="ngForm"
                               required />
                        <span class="errorMessage" [hidden]="zip.untouched || zip.valid">
                            Zip is required
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" 
                                class="btn btn-primary"
                                [disabled]="editForm.invalid || editForm.pristine"
                                (click)="saveCustomer()">
                            {{ buttonText }}
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-danger" *ngIf="customer.id > 0" (click)="deleteCustomer()">Delete</button>
                    </div>
                </div>
                           
            </div>
        </form>
        
        <growler position="bottom-right" timeout="2500"></growler>
        
    </div>
</div>